<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604403844826-m7e6uja4da4tci54d6r6lc1n7mc2d8gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604403844826-m7e6uja4da4tci54d6r6lc1n7mc2d8gv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>604403844826-73kd90gu722noumv37bc8856tflh06la.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD29Gs5pPWQSBJ5ag_SlLKyCHPvSBa1DjU</string>
	<key>GCM_SENDER_ID</key>
	<string>604403844826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seacaptaindate</string>
	<key>PROJECT_ID</key>
	<string>sea-captain-date-404223</string>
	<key>STORAGE_BUCKET</key>
	<string>sea-captain-date-404223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604403844826:ios:96430e95e9ee61062a87e3</string>
</dict>
</plist>